<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rysh.module.mobileUser.mapper.UserMapper">
    <resultMap id="UserList" type="com.rysh.module.clientLoginRegister.beans.User">
        <id property="id" column="id" />
        <result property="loginName" column="login_name" />
        <result property="name" column="name" />
        <result property="communityId" column="community_id" />
        <result property="avatar" column="avatar" />
        <result property="score" column="score" />
        <result property="createdTime" column="created_time" />
    </resultMap>


        <update id="updateUserScore" parameterType="com.rysh.module.mobileUser.beans.UserIdAndScore">
            update user set score=score-#{score} where id=#{userId}
        </update>

        <select id="findById" parameterType="String" resultMap="UserList">
            select * from user where id=#{userId} and status = 1
        </select>
</mapper>