<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rysh.module.farm.mapper.FarmItemImgMapper">
    <insert id="addDate" parameterType="String">
        insert into farm_item_img (farm_item_id, farm_img_id) value (#{farmItemId},#{farmImgId})
    </insert>
</mapper>