<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rysh.module.productCustomize.mapper.ProductCustomizeCategoryMapper">

    <insert id="addCategory">
        insert into product_customized_category (id, name, created_time, status)
        values (#{id},#{name},#{createdTime},#{status})
    </insert>
    <select id="findCountByCategoryId" resultType="java.lang.Integer">
        select count(p.id) from product_customized p,product_customized_category c
        where p.product_customized_category_id = c.id and p.status != -1  and c.id = #{id}
    </select>
    <update id="deleteCategoryById">
        update product_customized_category set status = -1 where id = #{id}
    </update>
    <update id="updateCategory">
        update product_customized_category set name = #{name} where id = #{id}
    </update>
    <select id="findAll" resultType="com.rysh.module.productCustomize.beans.ProductCustomizeCategory">
        select * from product_customized_category where status = 1
        <if test="search != null ">
            and name like CONCAT("%","#{search}","%")
        </if>
    </select>
</mapper>